<nav>
    <h2 class="tittleUser">
        <mat-icon class="icon-person" aria-hidden="false" aria-label="Example home icon" fontIcon="person"></mat-icon>
        <span class="tittle">Clients</span>
    </h2>
    
    <h2>
        <a routerLink="/clientes" routerLinkActive="active">Clients</a>
    </h2>
    <h2>
        <a routerLink="" routerLinkActive="active">Client look history</a>
    </h2>
    <h2>
        <a routerLink="" routerLinkActive="active">Emergency PIN configuration</a>
    </h2>
    <h2>
        <a routerLink="" routerLinkActive="active">Emergency PIN history</a>
    </h2>


</nav>