<div class="form-container">
  <h2 class="tittle">Create New Client</h2>
    <div class="input"> 
      <label>Name</label>
      <mat-form-field appearance="fill">
        <input matInput [(ngModel)]="customerData.businessId" class="inputForm">
      </mat-form-field> 
    </div>
    <div class="input"> 
      <label>Phone</label>
      <mat-form-field appearance="fill">
        <input type="tel" [(ngModel)]="customerData.phone" matInput class="inputForm">
      </mat-form-field>
    </div>
  
    <div class="input"> 
      <label>E-mail</label>
      <mat-form-field>
        <input matInput [(ngModel)]="customerData.email" placeholder="Email">
      </mat-form-field>
    </div>

    <div class="input">
      <label>Start Date</label>
      <mat-form-field appearance="fill">
        @if (customerData.id > 0) {
          <input class="input-date" matInput [matDatepicker]="picker1" (dateChange)="onStartDateChange($event)" [(ngModel)]="customerData.startDate">
        } @else {
          <input class="input-date" matInput [matDatepicker]="picker1" (dateChange)="onStartDateChange($event)">
        }
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
    </div>
  
    <div class="input"> 
      <label>End Date</label>
      <mat-form-field appearance="fill">
        @if (customerData.id > 0) {
          <input class="input-date" matInput [matDatepicker]="picker2" (dateChange)="onEndDateChange($event)" [(ngModel)]="customerData.endDate">
        } @else {
          <input class="input-date" matInput [matDatepicker]="picker2" (dateChange)="onEndDateChange($event)">
        }
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="btn-group">
      <button type="button" class="btn-submit" mat-raised-button (click)="onSave()" color="primary">Ok</button>
    </div>
</div>